In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
data_Latih = pd.read_excel('aalatih.xlsx')

In [4]:
df = pd.DataFrame(data_Latih)
selected_columns = ['Titik_1_PSI','Titik_2_PSI']  # Kolom yang ingin diambil
x = df[selected_columns]

out_cols = data_Latih['Lokasi_Kebocoran']
y = out_cols

In [5]:
x

     Titik_1_PSI  Titik_2_PSI
0       137.7880      89.9248
1       136.3376      87.0240
2       137.7880      84.1232
3       134.8872      88.4744
4       137.7880      88.4744
..           ...          ...
220     134.0000      81.7000
221     134.0000      81.8000
222     135.0000      82.0000
223     135.0000      82.5000
224     135.0000      82.6000

[225 rows x 2 columns]

In [6]:
y

0      26.42
1      26.42
2      26.42
3      26.42
4      26.42
       ...
220    23.60
221    23.60
222    23.60
223    23.60
224    23.60
Name: Lokasi_Kebocoran, Length: 225, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor
Dc = DecisionTreeRegressor(max_depth=3, random_state=30) 
Dc.fit(x_train, y_train)
predictions_D3 = Dc.predict(x_test)
print(predictions_D3)

[26.42       26.42       23.788      25.13       26.42        0.
 26.42       26.42       23.788      26.42       26.42       26.42
 26.42       26.42       26.42       26.42       26.42       26.42
  0.         26.42       26.42       26.42       25.13       26.15
 26.42       26.42       26.42        0.          4.12833333 23.788
 26.42       26.42       26.42        0.         26.42       26.42
  4.12833333 26.42       26.42       26.42       26.15       26.42
 26.42       26.42        0.         25.13       25.13       26.42
 26.42       23.788      25.13       26.42       25.13       26.42
 25.13       26.42       26.42       26.42       26.42       23.788
  0.         23.788      26.42       26.42       26.42        0.
  0.          0.        ]

In [9]:
from sklearn.metrics import mean_absolute_error
mae_D3=mean_absolute_error(y_test,predictions_D3)
print('MAE:%f'%mae_D3, "%")
from sklearn.metrics import mean_squared_error
mse_D3 = mean_squared_error(y_test, predictions_D3)
print("MSE:", mse_D3, "%")
rmse_D3 = np.sqrt(mse_D3)
print("RMSE:", rmse_D3, "%")
acc_D3 = ((100 - mae_D3))
print("accuracy:", acc_D3, "%")

MAE:0.654824 %
MSE: 13.261318669934631 %
RMSE: 3.6416093516376287 %
accuracy: 99.34517647058821 %

In [10]:
import pickle

In [11]:
filename='Pred_lokasi11.sav'
pickle.dump(Dc,open(filename,'wb'))