In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
data_Latih = pd.read_excel('Data_Latih1.xlsx')

In [8]:
df = pd.DataFrame(data_Latih)
selected_columns = ['Titik_1_PSI','Titik_2_PSI']  # Kolom yang ingin diambil
x = df[selected_columns]

out_cols = data_Latih['Lokasi_Kebocoran']
y = out_cols

In [9]:
x

    Titik_1_PSI  Titik_2_PSI
0      137.7880      89.9248
1      136.3376      87.0240
2      137.7880      84.1232
3      134.8872      88.4744
4      137.7880      88.4744
5      137.7880      84.1232
6      137.7880      84.1232
7      136.3376      76.8712
8      137.7880      84.1232
9      137.7880      89.9248
10     123.2840      75.4208
11     126.1848      76.8712
12     127.6352      79.7720
13     126.1848      76.8712
14     127.6352      73.9704
15     127.6352      72.5200
16     129.0856      72.5200
17     130.5360      66.7184
18     127.6352      69.6192
19     136.3376      87.0240
20     137.7880      84.1232
21     134.8872      88.4744
22     137.7880      88.4744
23     137.7880      84.1232
24     137.7880      84.1232
25     136.3376      76.8712
26     137.7880      84.1232
27     123.2840      75.4208
28     126.1848      76.8712
29     127.6352      79.7720
30     126.1848      76.8712
31     127.6352      73.9704
32     127.6352      72.5200
33     129.0856      72.5200
34     130.5360      66.7184
35     127.6352      69.6192
36       0.0000       0.0000
37       0.0000       0.0000
38       0.0000       0.0000
39       0.0000       0.0000
40       0.0000       0.0000
41       0.0000       0.0000
42       0.0000       0.0000
43       0.0000       0.0000

In [10]:
y

0      0.00
1      0.00
2      0.00
3      0.00
4      0.00
5      0.00
6      0.00
7      0.00
8      0.00
9      0.00
10     3.96
11     4.02
12     4.21
13     4.33
14     4.24
15     4.17
16     3.99
17     3.90
18     3.97
19     0.00
20     0.00
21     0.00
22     0.00
23     0.00
24     0.00
25     0.00
26     0.00
27     3.96
28     4.02
29     4.21
30     4.33
31     4.24
32     4.17
33     3.99
34     3.90
35     3.97
36    26.80
37    26.80
38    26.80
39    26.80
40    26.80
41    26.80
42    26.80
43    26.80
Name: Lokasi_Kebocoran, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [12]:
from sklearn.tree import DecisionTreeRegressor
Dc = DecisionTreeRegressor(max_depth=3, random_state=30) 
Dc.fit(x_train, y_train)
predictions_D3 = Dc.predict(x_test)
print(predictions_D3)

[ 4.26 26.8   4.26  0.    4.26  0.    4.26  4.26 26.8   4.26  4.26  0.
 26.8   0.  ]

In [13]:
from sklearn.metrics import mean_absolute_error
mae_D3=mean_absolute_error(y_test,predictions_D3)
print('MAE:%f'%mae_D3, "%")
from sklearn.metrics import mean_squared_error
mse_D3 = mean_squared_error(y_test, predictions_D3)
print("MSE:", mse_D3, "%")
rmse_D3 = np.sqrt(mse_D3)
print("RMSE:", rmse_D3, "%")
acc_D3 = ((100 - mae_D3))
print("accuracy:", acc_D3, "%")

MAE:0.087143 %
MSE: 0.02164285714285714 %
RMSE: 0.14711511527663343 %
accuracy: 99.91285714285715 %

In [14]:
import pickle

In [15]:
filename='Pred_lokasi.sav'
pickle.dump(Dc,open(filename,'wb'))